* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #232220;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .nav-search-bar .search {
  position: relative;
  color: #fff;
}

@media screen and (max-width: 992px) {
  header .nav-search-bar .search {
    display: none !important;
  }
}

header .nav-search-bar .search input {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #232212;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}

header .nav-search-bar .search i {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

header .nav-search-bar nav .dropdown .dropdown-toggle::after {
  display: none !important;
}

header .nav-search-bar nav .fa-bars:before,
header .nav-search-bar nav .fa-navicon:before {
  color: #fff;
}

.banner {
  background-image: url("../images/banner2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: contrast(1.1);
          filter: contrast(1.1);
  width: 100%;
  min-height: 400px;
  position: relative;
}

.banner .title {
  color: #fff;
  z-index: 1;
  position: relative;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .title .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  position: absolute;
  font-size: 20px;
}

.banner .title .wrap .home {
  margin-right: 2rem;
}

.banner .title .wrap > * {
  margin-bottom: 2rem;
}

.banner .title .fa-solid {
  margin-top: 4px;
  margin-right: 2rem;
}

.banner .color-overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6600), to(#232212));
  background-image: linear-gradient(to right, #ff6600, #232212);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us .title h1 {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.about-us .title p {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.about-us .row .item {
  margin: 1rem 0;
}

.about-us .row .left .item img {
  width: 100%;
}

.about-us .row .right .item {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
  letter-spacing: 1px;
}

.about-us .row .right .item h2 {
  font-weight: 700;
  color: #fff;
}

.about-us .row .right .item p {
  margin-top: 1rem;
}

.about-us .row .right .item button {
  margin-top: 1rem;
  background-color: #ff6600;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
}

.about-us .row .right .item button i {
  margin-left: 8px;
}

.about-us .foot .row .col .item h5 {
  color: #ff6600;
}

.about-us .foot .row .col .item h5:hover {
  color: #ffc107;
}

.about-us .foot .row .col .item p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.skills {
  padding: 3rem;
  background: #282828;
  height: 100%;
}

.skills .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .container .col .item h5 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  color: #ff6600;
}

.skills .container .col .item span {
  font-size: 40px;
}

.skills .container .col .item p {
  margin-top: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c2d0da;
  margin-bottom: 3rem;
}

.skills .container .col .item .skill-bar {
  margin-top: 1rem;
}

.skills .container .col .item .skill-bar .bar-text {
  font-size: 20px;
}

.skills .container .col .item .skill-bar .bar-text .progress {
  margin-bottom: 2rem;
}

.skills .container .col .item .skill-bar .bar-text .progress .progress-bar {
  background: #ff6600;
}

.skills .container .right .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .container .right .item .left {
  width: 48%;
}

.skills .container .right .item .right {
  width: 48%;
}

.skills .container .right .item img {
  border-radius: 6px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chefs {
  background-color: #232220;
}

.chefs .container .title span {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.chefs .container .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.chefs .container .row.chef .col .item .top {
  position: relative;
  margin-bottom: 1.5rem;
}

.chefs .container .row.chef .col .item .top img {
  width: 100%;
  border-radius: 10px;
}

.chefs .container .row.chef .col .item .top:hover .social-icon i {
  visibility: visible;
  opacity: 0.5;
}

.chefs .container .row.chef .col .item .top .social-icon {
  position: absolute;
  bottom: 10%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.chefs .container .row.chef .col .item .top .social-icon i {
  background-color: #282828;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.chefs .container .row.chef .col .item .top .social-icon i:hover {
  background-color: #fff;
  color: #ff6600;
  opacity: 1;
}

.chefs .container .row.chef .col .item:hover .chef-info h1 {
  color: #ff6600;
}

.chefs .container .row.chef .col .item .chef-info span {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.chefs .container .row.chef .col .item .chef-info h1 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.footer .copy-right {
  background: #000;
}

.footer .copy-right .container .row .col {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer .copy-right .container .row .col ul {
  padding: 0;
}

.footer .copy-right .container .row .col .submit {
  margin-bottom: 1rem;
}

.footer .copy-right .container .row .col .submit input[type="submit"]:hover {
  opacity: 0.7;
}

.footer .copy-right .container .row .col p {
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.footer .copy-right .container .row .col h4 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  margin-bottom: 1rem;
}

.footer .copy-right .container .row .col h4:hover {
  color: #ff6600;
}

.footer .copy-right .container .row .col .contact {
  margin-top: 0.5rem;
}

.footer .copy-right .container .row .col .contact i {
  margin-right: 8px;
  color: #ff6600;
  height: 32px;
  width: 32px;
  padding: 8px;
  background-color: #282828;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .copy-right .container .row .col .contact i:hover {
  color: #fff;
  background-color: #ff6600;
}

.footer .copy-right .container .row .col .list {
  line-height: 32px;
}

.footer .copy-right .container .row .col .list ul {
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.footer .copy-right .container .row .col .list ul li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .copy-right .container .row .col .list ul li:hover {
  cursor: pointer;
  color: #ff6600;
}

.footer .video-bottom {
  text-align: center;
  width: 100%;
}

.footer .video-bottom img {
  height: 400px;
  position: relative;
  max-width: 100%;
}

.footer .video-bottom i {
  padding: 16px;
  width: 64px;
  height: 64px;
  font-size: 28px;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  margin-top: -200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2) !important;
}
/*# sourceMappingURL=about.css.map */