* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #232220;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  scroll-behavior: smooth;
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .nav-search-bar .search {
  position: relative;
  color: #fff;
}

@media screen and (max-width: 992px) {
  header .nav-search-bar .search {
    display: none !important;
  }
}

header .nav-search-bar .search input {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #232212;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}

header .nav-search-bar .search i {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

header .nav-search-bar nav .dropdown .dropdown-toggle::after {
  display: none !important;
}

header .nav-search-bar nav .fa-bars:before,
header .nav-search-bar nav .fa-navicon:before {
  color: #fff;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animation-item-1 {
  -webkit-animation: fadeInUp 0.8s linear 0.4s;
          animation: fadeInUp 0.8s linear 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.animation-item-2 {
  -webkit-animation: fadeInUp 0.8s linear 0.8s;
          animation: fadeInUp 0.8s linear 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.animation-item-3 {
  -webkit-animation: fadeInUp 0.8s linear 1.2s;
          animation: fadeInUp 0.8s linear 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.animation-item-4 {
  -webkit-animation: fadeInUp 0.8s linear 1.6s;
          animation: fadeInUp 0.8s linear 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.animation-item-5 {
  -webkit-animation: fadeInUp 0.8s linear 2s;
          animation: fadeInUp 0.8s linear 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.animation-item-6 {
  -webkit-animation: fadeInUp 0.8s linear 2.4s;
          animation: fadeInUp 0.8s linear 2.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.animation-item-7 {
  -webkit-animation: fadeInUp 0.8s linear 2.8s;
          animation: fadeInUp 0.8s linear 2.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.banner {
  background-image: url("/images/banner1.jpg");
  background-position: center center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: contrast(1.1);
          filter: contrast(1.1);
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.banner .title {
  color: #fff;
  z-index: 1;
}

.banner .title .wrap {
  max-width: 500px;
}

.banner .title .wrap > * {
  margin-bottom: 2rem;
}

.banner .title button {
  border-radius: 10px;
  padding: 1rem 3rem;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner .title button:hover {
  color: #ff6600;
  background-color: #fff;
}

.banner .title button i {
  margin-left: 0.8rem;
}

.banner .title a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ff6600;
}

.banner .color-overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6600), to(#232212));
  background-image: linear-gradient(to right, #ff6600, #232212);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-banner {
  background-image: url("/images/banner2.jpg");
  height: 50vh;
  min-height: 300px;
}

.about-us .row .left .item h1 {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.about-us .row .left .item p {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.about-us .row .right .item {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
  line-height: 2rem;
  letter-spacing: 1px;
}

.more-than .row {
  background-color: #ff6600;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.more-than .row > * {
  padding-left: 0;
  padding-right: 0;
}

.more-than .row .left-col .item {
  height: 100%;
  min-height: 550px;
  background: url(/images/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.more-than .row .left-col .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.more-than .row .right-col .item {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
}

.more-than .row .right-col .item .top span {
  font-family: "Pacifico", cursive;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.more-than .row .right-col .item .top h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
}

.more-than .row .right-col .item .bottom {
  height: 100%;
}

.more-than .row .right-col .item .bottom span {
  color: #ff6600;
  background-color: #fff;
  border-radius: 5px;
  height: 4rem;
  width: 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.more-than .row .right-col .item .bottom span i {
  font-size: 1.75rem;
}

.more-than .row .right-col .item .bottom a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

.more-than .row .right-col .item .bottom .left:hover span {
  color: #ffc600;
}

.more-than .row .right-col .item .bottom .right:hover span {
  color: #ffc600;
}

.chefs {
  background-color: #232220;
}

.chefs .container .title span {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.chefs .container .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.chefs .container .row.chef .col .item .top {
  position: relative;
  margin-bottom: 1.5rem;
}

.chefs .container .row.chef .col .item .top img {
  width: 100%;
  border-radius: 10px;
}

.chefs .container .row.chef .col .item .top:hover .social-icon i {
  visibility: visible;
  opacity: 0.5;
}

.chefs .container .row.chef .col .item .top .social-icon {
  position: absolute;
  bottom: 10%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.chefs .container .row.chef .col .item .top .social-icon i {
  background-color: #282828;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.chefs .container .row.chef .col .item .top .social-icon i:hover {
  background-color: #fff;
  color: #ff6600;
  opacity: 1;
}

.chefs .container .row.chef .col .item:hover .chef-info h1 {
  color: #ff6600;
}

.chefs .container .row.chef .col .item .chef-info span {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.chefs .container .row.chef .col .item .chef-info h1 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.category {
  padding: 3rem 0;
}

.category .title {
  text-align: center;
  margin-bottom: 2rem;
}

.category .title span {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.category .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.category .menu-main > * {
  width: calc(100% / 3);
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
}

@media screen and (max-width: 992px) {
  .category .menu-main > * {
    width: 50%;
  }
}

.category .menu-main .card {
  background-color: #232220;
}

.category .menu-main .card .background-card {
  position: relative;
}

.category .menu-main .card .background-card .color-overlay {
  content: "";
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.category .menu-main .card .card-img-overlay {
  z-index: 6;
  bottom: 0;
  left: 10%;
  top: initial;
  right: initial;
}

.category .menu-main .card .card-img-overlay .card-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.category .menu-main .card .card-img-overlay .card-text {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffc600;
}

.services {
  background-color: #282828;
}

.services .row .col .item {
  border: 1px solid #c2d0da;
  border-radius: 10px;
}

.services .row .col .item:hover .top .left i {
  color: #fff;
  background-color: #ff6600;
}

.services .row .col .item .top .left i {
  text-align: center;
  background-color: #282828;
  border-radius: 10px;
  color: #ff6600;
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services .row .col .item .top .right span {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #c2d0da;
}

.services .row .col .item .top .right h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.services .row .col .item .bottom {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #c2d0da;
}

.services .row .col .item .bottom p {
  margin: 0;
}

.chefs {
  background-color: #232220;
}

.chefs .container .title span {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.chefs .container .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.chefs .container .row.chef .col .item .top {
  position: relative;
  margin-bottom: 1.5rem;
}

.chefs .container .row.chef .col .item .top img {
  width: 100%;
  border-radius: 10px;
}

.chefs .container .row.chef .col .item .top:hover .social-icon i {
  visibility: visible;
  opacity: 0.5;
}

.chefs .container .row.chef .col .item .top .social-icon {
  position: absolute;
  bottom: 10%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.chefs .container .row.chef .col .item .top .social-icon i {
  background-color: #282828;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.chefs .container .row.chef .col .item .top .social-icon i:hover {
  background-color: #fff;
  color: #ff6600;
  opacity: 1;
}

.chefs .container .row.chef .col .item:hover .chef-info h1 {
  color: #ff6600;
}

.chefs .container .row.chef .col .item .chef-info span {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.chefs .container .row.chef .col .item .chef-info h1 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.delicious {
  position: relative;
  background: url(../images/banner2.jpg);
  height: 40rem;
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.delicious::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.delicious .banner2 {
  z-index: 1;
}

.delicious .welcome {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 180px;
  right: 0;
}

.delicious .welcome h2 {
  font-size: 40px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.delicious .welcome .buttons {
  margin-top: 64px;
  font-family: "Oswald", sans-serif;
}

.delicious .welcome .buttons button {
  margin-right: 16px;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 6px;
  padding: 12px 45px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
}

.delicious .welcome .buttons button:hover {
  background-color: #fff;
  color: #ff6600;
}

.delicious .welcome .buttons .btn-right {
  border-radius: 6px;
  padding: 12px 45px;
  background: #ff6600;
  border: none;
  color: #fff;
  font-weight: 700;
}

.delicious .welcome .buttons .btn-right:hover {
  opacity: 0.5;
}

.count {
  margin-top: -50px;
  position: relative;
  z-index: 10;
}

.count .container {
  height: 100%;
}

.count .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count .container .row .col .item {
  border-radius: 6px;
  background-color: #232220;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.count .container .row .col .item i {
  background-color: #ff6600;
  border-radius: 50%;
  color: #fff;
  width: 68px;
  height: 68px;
  font-size: 26px;
  line-height: 64px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.count .container .row .col .item div {
  font-color: rgba(22, 28, 45, 0.7);
}

@media (max-width: 768px) {
  .count .container .row .col .item {
    margin-top: 64px;
  }
}

.count .container .row .col .item:hover {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.video-wrapper {
  background-color: #232220;
}

.video-wrapper .container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-wrapper .container .video {
  background-image: url(../images/banner3.jpg);
  min-height: 400px;
  width: 100%;
  margin-left: 0 auto;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.video-wrapper .container .play {
  background-color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  border: transparent;
  -webkit-box-shadow: 0 0 0 0 #544c4c;
          box-shadow: 0 0 0 0 #544c4c;
  -webkit-animation: pulse-red 4s infinite;
          animation: pulse-red 4s infinite;
}

.video-wrapper .container .play i {
  color: #ff6600;
  margin-top: 28px;
}

@-webkit-keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(231, 219, 219, 0.7);
            box-shadow: 0 0 0 0 rgba(231, 219, 219, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(208, 181, 181, 0.7);
            box-shadow: 0 0 0 0 rgba(208, 181, 181, 0.7);
  }
}

@keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(231, 219, 219, 0.7);
            box-shadow: 0 0 0 0 rgba(231, 219, 219, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(208, 181, 181, 0.7);
            box-shadow: 0 0 0 0 rgba(208, 181, 181, 0.7);
  }
}

.blog {
  height: 100%;
  background: #282828;
  width: 100%;
  padding: 3rem 0;
}

.blog .title {
  text-align: center;
  margin-bottom: 2rem;
}

.blog .title span {
  padding-top: 1rem;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff6600;
}

.blog .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}

.blog .row {
  height: 100%;
  text-align: center;
}

.blog .row .col {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
}

.blog .row .col .images {
  cursor: pointer;
  margin-top: 1rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.blog .row .col .images img {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

.blog .row .col .images .text {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #fff;
  cursor: pointer;
  bottom: 8px;
  left: 8px;
}

.blog .row .col .images .text span {
  background-color: #ff6600;
  border-radius: 1rem;
  padding: 0.25rem 1.25rem;
  font-weight: 700;
}

.blog .row .col .images .text .icon {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .row .col .images .text .icon div {
  font-weight: 400;
}

.blog .row .col .images .text .icon i {
  margin-right: 0.5rem;
  padding: 0.25rem;
}

.blog .row .col .info {
  text-align: initial;
}

.blog .row .col .info p {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.blog .row .col .info span {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.blog .row .col .authors {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

.blog .row .col .authors .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .row .col .authors img {
  height: 40px;
  margin-right: 8px;
}

.blog .row .col .authors span {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .row .col .authors span a {
  text-decoration: none;
  color: #fff;
}

.blog .row .col .authors span i {
  margin: 5px;
}

.blog .row .col .authors span:hover {
  color: #ff6600;
}

.blog .row .col .authors span:hover a {
  color: #ff6600;
}

.testimonials {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.testimonials .title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #c2d0da;
}

.testimonials .title span {
  font-family: "Pacifico", cursive;
  font-size: 400;
  font-weight: 20px;
  color: #ff6600;
}

.testimonials .carousel .carousel-indicators .active {
  background-color: #ff6600;
}

.testimonials .carousel .carousel-indicators {
  bottom: 0;
  margin-bottom: -2rem;
}

.testimonials .carousel .carousel-indicators button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.testimonials .carousel .carousel-inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .carousel .carousel-inner .carousel-item {
  height: auto;
}

.testimonials .carousel .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.testimonials .carousel .carousel-inner .carousel-item .carousel-caption {
  position: initial;
  max-width: 550px;
  margin: auto auto;
}

.testimonials .carousel .carousel-inner .carousel-item .carousel-caption .top i {
  color: #ff6600;
  font-size: 2rem;
}

.testimonials .carousel .carousel-inner .carousel-item .carousel-caption .top h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.testimonials .carousel .carousel-inner .carousel-item .carousel-caption .top p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.testimonials .carousel .carousel-inner .carousel-item .carousel-caption .bottom h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.testimonials .carousel .carousel-inner .carousel-item .carousel-caption .bottom p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

footer .copy-right {
  background: #000;
}

footer .copy-right .container .row .col {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .copy-right .container .row .col ul {
  padding: 0;
}

footer .copy-right .container .row .col .submit {
  margin-bottom: 1rem;
}

footer .copy-right .container .row .col .submit input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 16px;
}

footer .copy-right .container .row .col .submit input[type="submit"] {
  width: 100%;
  background-color: #ff6600;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .copy-right .container .row .col .submit input[type="submit"]:hover {
  opacity: 0.7;
}

footer .copy-right .container .row .col p {
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

footer .copy-right .container .row .col h4 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  margin-bottom: 1rem;
}

footer .copy-right .container .row .col h4:hover {
  color: #ff6600;
}

footer .copy-right .container .row .col .contact {
  margin-top: 0.5rem;
}

footer .copy-right .container .row .col .contact i {
  margin-right: 8px;
  color: #ff6600;
  height: 32px;
  width: 32px;
  padding: 8px;
  background-color: #282828;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .copy-right .container .row .col .contact i:hover {
  color: #fff;
  background-color: #ff6600;
}

footer .copy-right .container .row .col .list {
  line-height: 32px;
}

footer .copy-right .container .row .col .list ul {
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

footer .copy-right .container .row .col .list ul li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .copy-right .container .row .col .list ul li:hover {
  cursor: pointer;
  color: #ff6600;
}

footer .policy {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
  background-color: #000;
  border-top: 1px solid #c2d0da;
  border-bottom: 1px solid #c2d0da;
}

footer .policy .left p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer .policy .right {
  text-align: center;
  margin-bottom: 0.5rem;
}

footer .policy .right a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
  margin-right: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .policy .right a:hover {
  color: #ff6600;
}

footer .video-bottom {
  text-align: center;
  width: 100%;
}

footer .video-bottom img {
  height: 400px;
  position: relative;
  max-width: 100%;
}

footer .video-bottom i {
  padding: 16px;
  width: 64px;
  height: 64px;
  font-size: 28px;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  margin-top: -200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.backToTop a {
  text-decoration: none;
  color: #c2d0da;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 100;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgba(255, 102, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.backToTop a i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.backToTop a:hover {
  background-color: rgba(255, 102, 0, 0.8);
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-box-shadow: 0.125rem 0.125rem 1rem #c2d0da;
          box-shadow: 0.125rem 0.125rem 1rem #c2d0da;
}

.backToTop a:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact-us {
  padding-top: 2rem;
}

.contact-us .title span {
  font-family: "Pacifico", cursive;
  font-size: 1rem;
  font-weight: 400;
  color: #ff6600;
}

.contact-us .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
}

.contact-us .title p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
  margin-bottom: 1.5rem;
}

.contact-us .form {
  margin-bottom: 3rem;
}

.contact-us .form .row input,
.contact-us .form .row textarea {
  background-color: #282828;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.contact-us .form .row input:hover, .contact-us .form .row input:focus,
.contact-us .form .row textarea:hover,
.contact-us .form .row textarea:focus {
  border: 1px solid #ff6600;
}

.contact-us .form .row label {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.contact-us .form .row button {
  border-radius: 6px;
  padding: 12px 45px;
  background: #ff6600;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-us .form .row button:hover {
  opacity: 0.6;
}

.additional-info .row .left {
  margin-bottom: 2rem;
}

.additional-info .row .left .title span {
  font-family: "Pacifico", cursive;
  font-size: 1rem;
  font-weight: 400;
  color: #ff6600;
}

.additional-info .row .left .title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
}

.additional-info .row .left .contact-info > * {
  margin-bottom: 1.5rem;
}

.additional-info .row .left .contact-info i {
  color: #ff6600;
}

.additional-info .row .left .contact-info p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
}

.additional-info .row .left .contact-info a {
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}

.additional-info .row .left .contact-info a:hover {
  text-decoration: underline;
}

.additional-info .row .left .contact-info p + p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #c2d0da;
}
/*# sourceMappingURL=styles.css.map */