@import "./_variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  background-color: $color-black-300;

  @include font-text($font-family-2, 1rem, 400, $color-white-100);
  scroll-behavior: smooth;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  max-width: 650px;
  padding: 1rem;
}
button {
  @include button(10px, 1rem 3rem, $color-orange-300, none, $color-white-100, 500);
  transition: all 0.5s;
  &:hover {
    opacity: 0.5;
  }
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  h1 {
    margin-left: 1rem;
  }

  .nav-search-bar {
    margin-right: 1rem;
    button {
      @include button(10px, 1rem 3rem, $color-orange-300, none, $color-white-100, 500);
      transition: all 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
    .search {
      @media screen and (max-width: 992px) {
        & {
          display: none !important;
        }
      }
      position: relative;
      color: $color-white-100;
      input {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: $color-black-400;
        @include font-text($font-family-2, 1rem, 300, $color-white-100);
      }
      i {
        position: absolute;
        right: 10%;
        cursor: pointer;
      }
    }
    nav {
      .dropdown {
        .dropdown-toggle::after {
          display: none !important;
        }
      }
      .fa-bars:before,
      .fa-navicon:before {
        color: $color-white-100;
      }
    }
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@for $i from 1 to 8 {
  .animation-item-#{$i} {
    animation: fadeInUp 0.8s linear 0.4s * $i;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

.banner {
  background-image: url("/images/banner1.jpg");
  background-position: center center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.1);
  width: 100%;
  height: 50vh;
  min-height: 450px;
  position: relative;
  .title {
    // z-index: 1;
    color: $color-white-100;
    z-index: 1;
    max-width: 500px;
    .wrap {
      max-width: 500px;
      & > * {
        margin-bottom: 2rem;
      }
    }

    p {
      @include font-text($font-family-2, 1rem, 300, $color-gray-100);
    }

    button {
      @include button(10px, 1rem 3rem, transparent, 2px solid $color-white-100, $color-white-100, 500);
      width: fit-content;
      text-decoration: none;
      //   color: $color-white-100;
      //   padding: 1rem 3rem;
      //   border: 2px solid $color-white-100;
      //   border-radius: 10px;
      //   font-weight: 500;
      transition: all 0.5s;

      // cursor: pointer;
      &:hover {
        color: $color-orange-300;
        background-color: $color-white-100;
      }
      i {
        margin-left: 0.8rem;
      }
    }
    a {
      text-decoration: none;
      @include font-text($font-family-2, 1rem, 400, $color-orange-300);
    }
  }
  .color-overlay {
    background: $color-black-500;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.about-us {
  background-color: $color-black-500;
  .row {
    .item {
      // padding: auto 60px;
    }
    .left .item {
      h1 {
        @include font-text($font-family-2, 1.5rem, 400, $color-white-100);
      }
      p {
        @include font-text($font-family-2, 2.5rem, 300, $color-gray-100);
      }
    }
    .right .item {
      @include font-text($font-family-2, 1rem, 300, $color-gray-100);
      line-height: 2rem;
      letter-spacing: 1px;
    }
  }
}

.category {
  background-color: $color-black-500;
  padding: 3rem 0;
  .title {
    text-align: center;
    margin-bottom: 2rem;
    span {
      @include font-text($font-family-2, 1.5rem, 400, $color-white-100);
    }
    h1 {
      @include font-text($font-family-2, 2.5rem, 400, $color-white-100);
    }
  }
  .menu-main {
    // margin-left: -1rem;
    // margin-right: -1rem;
    & > * {
      width: calc(100% / 3);
      margin-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border: none;
    }
    @media screen and (max-width: 992px) {
      & > * {
        width: 50%;
      }
    }
    .card {
      background-color: $color-black-500;
      .background-card {
        position: relative;
        .color-overlay {
          content: "";
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to bottom, transparent, rgba(000, 000, 000, 0.5));
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
        }
      }

      .card-img-overlay {
        z-index: 6;
        bottom: 0;
        left: 10%;
        top: initial;
        right: initial;
        .card-title {
          @include font-text($font-family-2, 1.5rem, 400, $color-white-100);
        }
        .card-text {
          @include font-text($font-family-2, 1.25rem, 400, $color-yellow-300);
        }
      }
    }
  }
}

.more-than {
  padding: 1rem;
  .row {
    height: fit-content;
    & > * {
      padding-left: 0;
      padding-right: 0;
    }
    .left-col .item {
      height: 100%;
      min-height: 300px;
      background: url(/images/g1.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      @media (max-width: 992px) {
        background-size: cover;
        min-height: 450px;
      }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background-color: rgba(000, 000, 000, 0.5);
      // }
    }
    .item-1 {
      background: url(/images/g2.jpg);
      height: 100%;
      width: 100%;
      min-height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      @media (max-width: 992px) {
        background-size: cover;
        min-height: 450px;
      }
    }
    .right-col .item {
      @include font-text($font-family-2, 1.25rem, 300, $color-white-100);
      letter-spacing: 1px;
      .top {
        h1 {
          @include font-text($font-family-2, 1.5rem, 400, $color-white-100);
          margin-bottom: 1.5rem;
        }
        p {
          @include font-text($font-family-2, 1rem, 300, $color-gray-100);
        }
      }
    }
  }
}

.delicious {
  position: relative;
  background: url(../images/banner2.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  object-fit: cover;
  z-index: 1;
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .welcome {
    text-align: center;
    height: 100%;
    h2 {
      font-size: 2rem;
      color: $color-white-100;
      font-family: $font-family-2;
    }
    p {
      @include font-text($font-family-2, 1rem, 300, $color-gray-100);
      margin-bottom: 2rem;
    }
    button {
      font-family: $font-family-2;

      transition: all 0.5s;
      @include button(6px, 12px 45px, transparent, 2px solid #fff, $color-white-100, 700);
      &:hover {
        background-color: $color-white-100;
        color: $color-orange-300;
      }
    }
  }
}

.delicious2 {
  margin-top: 2rem;
  .container {
    .image {
      padding: 1rem;
      background: url(../images/banner3.jpg);
      height: 300px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .welcome {
      text-align: center;
      height: 100%;
      h2 {
        font-size: 2rem;
        color: $color-white-100;
        font-family: $font-family-2;
      }
      p {
        @include font-text($font-family-2, 1rem, 300, $color-gray-100);
        margin-bottom: 2rem;
      }
    }
  }
}

footer {
  //   max-height: 100%;
  //   margin-top: 32px;
  .copy-right {
    // height: 100%;
    background: $color-black-100;
    .container {
      //   padding: 32px;
      .row {
        // width: 100%;
        // height: 80%;

        .col {
          margin-top: 1rem;
          margin-bottom: 1rem;
          ul {
            padding: 0;
          }
          .submit {
            margin-bottom: 1rem;

            input[type="text"] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 16px;
            }
            input[type="submit"] {
              width: 100%;
              background-color: $color-orange-300;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: all 0.5s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
          p {
            margin-bottom: 2rem;
            @include font-text($font-family-2, 1rem, 300, $color-gray-100);
          }
          h4 {
            @include font-text($font-family-2, 2rem, 400, $color-white-100);

            transition: all 0.5s;
            &:hover {
              color: $color-orange-300;
            }
            color: $color-white-100;
            margin-bottom: 1rem;
            // margin-top: 80px;
            // font-size: 20px;
          }
          a {
            text-decoration: none;
            @include font-text($font-family-2, 1rem, 300, $color-gray-100);
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .policy {
    @include font-text($font-family-2, 1rem, 300, $color-gray-100);

    background-color: $color-black-100;
    border-top: 1px solid $color-gray-100;
    border-bottom: 1px solid $color-gray-100;

    .left {
      p {
        text-align: center;
        // margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .right {
      text-align: center;
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        @include font-text($font-family-2, 1rem, 300, $color-gray-100);
        margin-right: 2rem;
        transition: all 0.5s;

        &:hover {
          color: $color-orange-300;
        }
      }
    }
  }
}
