@import "./_variable";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: $color-black-100;
    background-color: initial;
}

header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include font-text($font-family-2, 16px, 400, $color-white-100);
    .nav-search-bar {
        .search {
            position: relative;
            color: $color-white-100;
            input {
                border: none;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                background-color: $color-black-400;
            }
            i {
                position: absolute;
                right: 10%;
                cursor: pointer;
            }
        }
        nav {
            .dropdown {
                .dropdown-toggle::after {
                    display: none !important;
                }
            }
            .fa-bars:before,
            .fa-navicon:before {
                color: $color-white-100;
            }
        }
    }
}

.banner {
    background-image: url("/images/banner1.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: contrast(1.1);
    width: 100%;
    height: 40rem;
    position: relative;
    .title {
        // z-index: 1;
        color: $color-white-100;
        z-index: 1;
        .wrap {
            max-width: 500px;
            &>* {
                margin-bottom: 2rem;
            }
        }
        a {
            width: fit-content;
            text-decoration: none;
            color: $color-white-100;
            padding: 1rem 3rem;
            border: 2px solid $color-white-100;
            border-radius: 10px;
            font-weight: 500;
            transition: all 0.5s;
            &:hover {
                color: $color-orange-300;
                background-color: $color-white-100;
            }
            i {
                margin-left: 0.8rem;
            }
        }
    }
    .color-overlay {
        background-image: linear-gradient(to right, $color-orange-300, $color-black-400);
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.delicious {
    position: relative;
    background: url(../images/banner2.jpg);
    height: 40rem;
    width: 100%;
    background-position: center;
    object-fit: cover;
    z-index: 1;
    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        min-height: 100%;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .banner2 {
        z-index: 1;
    }
    .welcome {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 180px;
        right: 0;
        h2 {
            font-size: 40px;
            color: $color-white-100;
            font-family: $font-family-2;
        }
        .buttons {
            margin-top: 64px;
            font-family: $font-family-2;
            button {
                margin-right: 16px;
                @include button(6px,
                12px 45px,
                transparent,
                2px solid #fff,
                $color-white-100,
                700);
                &:hover {
                    background-color: $color-white-100;
                    color: $color-orange-300;
                }
            }
            .btn-right {
                @include button(6px,
                12px 45px,
                $color-orange-300,
                none,
                $color-white-100,
                700);
            }
        }
    }
}

.count {
    margin-top: -50px;
    position: relative;
    z-index: 10;
    .container {
        height: 100%;
        .row {
            justify-content: center;
            .col {
                border-radius: 6px;
                background: #fff;
                height: 200px;
                width: 200px;
                text-align: center;
                margin-right: 32px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                i {
                    @include icon($color-orange-300,
                    50%,
                    $color-white-100,
                    68px,
                    68px,
                    26px,
                    64px,
                    16px,
                    16px);
                }
                div {
                    font-color: rgba(22, 28, 45, 0.7);
                }
                @media (max-width: 768px) {
                    margin-top: 64px;
                }
                &:hover {
                    transition: 0.3s ease-in;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    i {}
                }
            }
        }
    }
}

.video-wrapper {
    height: 100%;
    width: 100%;
    margin-top: 64px;
    padding-right: 64px;
    padding-left: 64px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    .video {
        background-image: url(../images/banner3.jpg);
        min-height: 400px;
        width: 80%;
        margin-left: 0 auto;
        background-size: cover;
        background-position: center;
        align-items: center;
        position: relative;
    }
    .play {
        background-color: $color-white-100;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        font-size: 26px;
        justify-content: center;
        display: flex;
        position: absolute;
        border: transparent;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        i {
            color: $color-orange-300;
            margin-top: 28px;
        }
        &:hover {
            animation: ripple 1.5s alternate infinite ease-in;
        }
        @keyframes ripple {
            0% {
                transform: scale(0.8);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            100% {
                transform: scale(1.2);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
        }
    }
}

.blog {
    height: 100%;
    background: $color-white-110;
    width: 100%;
    margin-top: 64px;
    .title {
        text-align: center;
        h5 {
            padding-top: 16px;
            @include font-text($font-family-1,
            20px,
            400,
            $color-orange-300);
        }
    }
    .row {
        height: 100%;
        text-align: center;
        .col {
            justify-content: center;
            height: 100%;
            cursor: pointer;
            .images {
                margin-top: 16px;
                img {
                    height: 200px;
                    border-radius: 4px;
                    position: relative;
                }
            }
            .text {
                font-family: $font-family-2;
                display: flex;
                position: absolute;
                margin-top: -40px;
                padding: 0px 64px;
                color: $color-white-100;
                cursor: pointer;
                span {
                    background-color: $color-orange-300;
                    border-radius: 35px;
                    padding: 3px 20px;
                    font-weight: 700;
                }
                .icon {
                    margin-left: 24px;
                    display: flex;
                    div {
                        font-weight: 400;
                    }
                    i {
                        margin-right: 8px;
                        padding: 4px;
                    }
                }
            }
            .info {
                text-align: justify;
                margin-left: 20px;
                p {
                    font-weight: 700;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    font-size: 24px;
                }
            }
            .author {
                display: flex;
                align-items: center;
                margin: 24px;
                font-weight: 700;
                img {
                    height: 40px;
                    margin-right: 8px;
                }
                span {
                    margin-left: 32px;
                    display: flex;
                    i {
                        margin: 5px;
                    }
                    &:hover {
                        color: $color-orange-300;
                    }
                }
            }
        }
    }
}

.testimonials {
    margin-top: 32px;
    height: 100%;
    .title {
        text-align: center;
        span {
            @include font-text($font-family-1,
            400,
            20px,
            $color-orange-300);
        }
    }
    .carousel {
        padding: 256px;
        .carousel-inner {
            height: 300px;
            .carousel-item {
                height: 400px;
                img {
                    height: 40px;
                }
            }
        }
    }
}


/*djifewhh*/