@import "./_variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: $color-black-400;
  @include text-format($font-family-2, 1rem, 400, $color-white-100);
}
header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // @include text-format($font-family-2, 1rem, 400, $color-white-100);
  .nav-search-bar {
    .search {
      position: relative;
      color: $color-white-100;
      input {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: $color-black-400;
        @include text-format($font-family-2, 1rem, 300, $color-white-100);

      }
      i {
        position: absolute;
        right: 10%;
        cursor: pointer;
      }
    }
    nav {
      .dropdown {
        .dropdown-toggle::after {
          display: none !important;
        }
      }
      .fa-bars:before,
      .fa-navicon:before {
        color: $color-white-100;
      }
    }
  }
}

.banner {
  background-image: url("/images/banner1.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: contrast(1.1);
  width: 100%;
  height: 40rem;
  position: relative;
  .title {
    // z-index: 1;
    color: $color-white-100;
    z-index: 1;

    .wrap {
      max-width: 500px;
      & > * {
        margin-bottom: 2rem;
      }
    }
    a {
      width: fit-content;
      text-decoration: none;
      color: $color-white-100;
      padding: 1rem 3rem;
      border: 2px solid $color-white-100;
      border-radius: 10px;
      font-weight: 500;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        color: $color-orange-300;
        background-color: $color-white-100;
      }
      i {
        margin-left: 0.8rem;
      }
    }
  }
  .color-overlay {
    background-image: linear-gradient(
      to right,
      $color-orange-300,
      $color-black-400
    );
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.about-us {
  .row {
    .item {
      // padding: auto 60px;
    }
    .left .item {
      h1 {
        @include text-format($font-family-1, 1.5rem, 400, $color-orange-300);
      }
      p {
        @include text-format($font-family-2, 2.5rem, 400, $color-white-100);
      }
    }
    .right .item {
      @include text-format($font-family-2, 1rem, 300, $color-gray-100);
      line-height: 2rem;
      letter-spacing: 1px;
    }
  }
}
.more-than {
  .row {
    background-color: $color-orange-300;
    height: fit-content;
    &>*{
      padding-left: 0;
      padding-right: 0;
    }
    .left-col .item{
      height: 100%;
      min-height: 550px;
      background: url(/images/banner3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(000, 000, 000, 0.5);
      }
    }
    .right-col .item {
      @include text-format($font-family-2, 1.25rem, 300, $color-white-100);
      letter-spacing: 1px;
      .top {
        span {
          @include text-format($font-family-1, 1rem, 400, $color-white-100);
        }
        h1 {
          @include text-format($font-family-2, 2.5rem, 400, $color-white-100);
          margin-bottom: 1.5rem;
        }
      }
      .bottom {
        height: 100%;
        span {
          color: $color-orange-300;
          background-color: $color-white-100;
          border-radius: 5px;
          height: 4rem;
          width: 4rem;
          transition: all 0.5s;

          i {
            font-size: 1.75rem;
          }
        }
        a {
          text-decoration: none;
          @include text-format($font-family-2, 1.25rem, 700, $color-white-100);
        }
        .left {
          &:hover {
            span {
              color: #ffc600;
            }
          }
        }
        .right {
          &:hover {
            span {
              color: #ffc600;
            }
          }
        }
      }
    }
  }
}
